In [25]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
DATA = pd.read_excel(r'C:\Users\Nikita\OneDrive\Desktop\Python for DataScience\dataset\DATAMERGER1.xlsx')

df = pd.DataFrame(DATA)

DATA MERGE

If My Data have in same excelsheets and but different sheet

In [26]:
import pandas as pd

# Load both sheets from the same Excel file
file_path = r'C:\Users\Nikita\OneDrive\Desktop\Python for DataScience\dataset\DATAMERGER1.xlsx'

# Replace 'Sheet1' and 'Sheet2' with your actual sheet names
df1 = pd.read_excel(file_path, sheet_name='Data1')
df2 = pd.read_excel(file_path, sheet_name='Data2')

# Merge the two DataFrames on the common column 'No'
merged_df = pd.merge(df1, df2, on='No', how='inner')

# Optional: remove _x and _y suffixes if both sheets have same columns
merged_df = merged_df.loc[:, ~merged_df.columns.str.endswith('_y')]
merged_df.columns = merged_df.columns.str.replace('_x', '', regex=False)

# Show merged result
print(merged_df)

   No      Name  Age      Occupation   Address   Salary
0   1     Arjun   45              CA    Mumbai   150000
1   2     Vijay   34             MBA      Pune   263232
2   3     Suyog   45          Lawyer  Hydrabad    64521
3   4    Nikita   22  Data Scientist     Delhi    45452
4   5   Radhika   34      Accountant  Banglore  4512323
5   6     Pawan   61           Clerk   Gurgaon  4542512
6   7    Yogita   45              GM   Kolkata   315323
7   8      Ajay   68              MR   Chennai     3475
8   9  Priyanka   87      Therapiest    Mumbai  1545462
9  10     Rutik   44        Designer      Pune    69532

If My Data have in two different excelsheets

In [27]:
import pandas as pd

# Load the two Excel files
file1 = r'C:\Users\Nikita\OneDrive\Desktop\Python for DataScience\dataset\StudentDetails1.xlsx'
file2 = r'C:\Users\Nikita\OneDrive\Desktop\Python for DataScience\dataset\StudentDetails2.xlsx'

# Read the Excel files into DataFrames
df1 = pd.read_excel(file1)
df2 = pd.read_excel(file2)

# Merge the DataFrames on the common column 'No'
merged_df = pd.merge(df1, df2, on='ID', how='inner')
merged_df

   ID               Name Div  Marks  Out of
0   1  Suyog Shirdhankar   A     89     100
1   2      Radhika Surve   B     78     100
2   3        Arjun patil   C     99     100
3   4     Neha Sarmalkar   A     55     100
4   5       Sneha Padhye   B     62     100

In [38]:
import pandas as pd

# Load the Excel file into a DataFrame
file_path = r'C:\Users\Nikita\OneDrive\Desktop\Python for DataScience\dataset\Concatenation.xlsx'
df = pd.read_excel(file_path)

# Concatenate the columns
df['FullDetails'] = df['Name'] + ' ' +  df['Surname'] + ' - ' + df['Address']

# Display result
print(df[['FullDetails']])

                   FullDetails
0  Nikita Shirdhankar - Mumbai
1         Raju Gavkar - Satara
2     Nikhil Bhole - Ratnagiri
3        Ashish  Jadhav - Pune